extends layout

block content
  h1= title
  p Welcome to the #{title}
  div(class="button-link inline-button")
    a(href="/upload") Upload Resources
  div(class="button-link inline-button")
    a(href="/search") Search the Server
